<h1>My Lists</h1>
<div class="container">
    {{#each}}
        <div class="col-xs-4">
            <h2>{{title}}</h2>
            {{render 'cards' cards}}
            <form {{action "createCard" this on="submit"}}>
            {{input type="text" id="new-card" placeholder="What's next?" value=newCardTitle}}
            </form>
        </div>
    {{/each}}
</div>
