<h1>My Lists</h1>
<div class="container">
    {{#each}}
        <div class="col-xs-4">
            <h2>{{title}}</h2>
          <ul>
            {{#each cards}}
              <li>
                {{title}}
                [ <a {{action 'moveCard' this}}>move</a> |
                <a {{action 'rename' this}}>rename</a> ]
              </li>
            {{/each}}
          <ul>
        </div>
    {{/each}}
</div>
